@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color:rgba(195, 95, 195, 0.84);
    /**/position:absolute;
    top:23%;
    left:35%;
    /*display:flex;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
}
.title{
    font-size: 50px;
    font-weight: 5000;
    color:darkslateblue;
    letter-spacing: 5px;
    margin: 28px 0;

}
.todo-list{
    width: 450px;
    padding: 20px;
    box-shadow:0 10px 40px burlywood(0,0,0,0.1);
    border: radius 5px ;
    background-color: #fff;

}
.list-head{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}
.entered-list{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    outline: none;


}
.add-list{
    border: none;
    border-radius: 5px;
    background-color:darkslateblue;
    outline: none;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    opacity: .6;
    pointer-events: none;
}
.add-list.active{
    opacity: 1;
    pointer-events: all;
}

.tasks{
    width: 100%;
    margin-top: 30px;
    
}
.item{
    padding: 10px;
    border-radius: 5px;
    box-shadow:0 10px 20px rgba(0,0, 0,0.1);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.item p{
    font-size: 20px;
    font-weight: 600;
    color: #111;
    letter-spacing: 1px;

}
.item.completed p{
    text-decoration: line-through;
    color:#11111180;
}
.item-btn{
    display: flex;
    align-items: center;
    gap: 13px;
}
.item-btn{
    color:darkslateblue;
    font-size: 20px;
    cursor:pointer ;
}